<!DOCTYPE html>
<html ng-app="myapplication">
<head>
  <title>Myspa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'header' %>
</head>
<body background="app/assets/images/bgimage1.jpg">
  <div class="container" ng-view>
    <%= yield %>
  </div>


</body>
</html>